# macOS
.DS_Store

# KiCad
*-backups/
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.lck
~*.lck
fp-info-cache
_autosave-*

# Arduino / PlatformIO
/firmware/**/build/
.pio/
.pioenvs/
.piolibdeps/

# Editor
.vscode/
.idea/
*.swp
.claude